html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
    Spoqa Han Sans, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
