.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container a {
  color: #00a3f9;
  text-decoration: none;
}

.container a:hover,
.container a:focus,
.container a:active {
  text-decoration: underline;
}

.container button {
  font-size: 1.2rem;
  text-align: center;
  
  color: #fff;
  background-color: #00a3f9;
  
  margin: 0 0.5rem;
  padding: 11px 18px;
  border: none;
  border-radius: 18rem;

  cursor: pointer;
  text-decoration: none;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > *:not(:first-child) {
  margin-top: 2rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > * {
  margin: 1rem;
}

.title {
  font-size: 4rem;
}

.title, .description {
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
}

.secondary {
  color: #888;
}

.group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.group span {
  margin: 2vmin;
  font-size: 5vmin;
}

.group img, .group canvas {
  width: 30vmin;
  height: 30vmin;
  padding: 0.5rem !important;
  border-radius: 50%;
}

.picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

.picker > * {
  margin: 0 0.5rem;
}

.picker span {
  cursor: pointer;
  text-decoration: underline;
}